In [27]:
import numpy as np
import pandas as pd
import yfinance as yf
from datetime import datetime,timedelta
import time
from get_histdata import GetHistData_yf
from regret_calc import CalculateReturns,CalculateReturnsList
from recent_trends import recent_trends
from scan_breakouts import daily_scan

In [10]:
def GetHistData_yf(tickers,start=None,end=None,interval='1d'):
    '''This function retrieves historical data of the list of tickers provided.
    GetHistData_yf(tickers,start=None,end=None,interval='1d')
    ---------------------------------
    (tickers, list)                   = A list containg ticker symbols as listed yfinance.
                                        Ex. ['ADANIPORTS.NS','TCS.NS','LT.NS','AXISBANK.NS',]
    (start, datetime or str,optional) = Start date of historical data. default is 3 months from current date.
                                        ex. '2021-08-01' 
    (end, datetime or str,optional)   = End date of historical data. default is current date.
                                        ex. '2022-08-01'
    (interval, string)                = The price interval. default is 1 day.
                                        ex. '1d', '1h', '5m'
    '''
    
    if start==None:
        from_date=(datetime.today()-timedelta(90)).strftime("%Y-%m-%d")
    elif type(start) == str:
        from_date=datetime.strptime(start,"%Y-%m-%d")
    else:
        from_date=datetime.strptime(start.strftime("%Y-%m-%d"),"%Y-%m-%d")     
    
    if end==None:
        to_date=datetime.strptime(datetime.today().strftime("%Y-%m-%d"),"%Y-%m-%d") 
    elif type(end) == str:
        to_date=datetime.strptime(end,"%Y-%m-%d")
    else:
        to_date=end

        
    start_time = time.time()
    hist_data=pd.DataFrame()
    # Get historical data
    print("Getting historical using yfinance")
    print("Fetching data from {} to {}".format(from_date,to_date))

    for i,tick in enumerate(tickers):
        security=yf.Ticker(tick)
    #     print(i,tick)
    #     print(security.splits)
        if i == 0 :
            hist_data=security.history(start=from_date,end=to_date,interval=interval)
            hist_data['Symbol']=tick
        else :
            df2=security.history(start=from_date,end=to_date,interval=interval)
            if not df2.empty:
                df2['Symbol']=tick
                hist_data=pd.concat([hist_data,df2])

    print("--- %s seconds ---" % (time.time() - start_time))
    return hist_data

In [21]:
data=pd.read_html('https://www.traderscockpit.com/?pageView=nse-indices-stock-watch&index=NIFTY+200')
tickers=data[3]['Index'].to_list()
tickers=["{}.NS".format(tick) for tick in tickers]

df1=GetHistData_yf(tickers)

Getting historical using yfinance
Fetching data from 2022-03-14 00:00:00 to 2022-06-12 00:00:00
- NIFTY 200.NS: No data found, symbol may be delisted
- CADILAHC.NS: No data found, symbol may be delisted
--- 56.29388380050659 seconds ---

In [22]:
df1

,Open,High,Low,Close,Adj Close,Volume,Symbol,Dividends,Stock Splits
Date,,,,,,,,,
2022-03-14,2070.050049,2238.000000,2031.199951,2207.649902,NaN,2378873.0,DEEPAKNTR.NS,0.0,0.0
2022-03-15,2249.000000,2272.750000,2180.000000,2200.250000,NaN,2029388.0,DEEPAKNTR.NS,0.0,0.0
2022-03-16,2222.000000,2249.600098,2215.000000,2222.850098,NaN,572603.0,DEEPAKNTR.NS,0.0,0.0
2022-03-17,2252.000000,2254.949951,2210.000000,2228.899902,NaN,1613841.0,DEEPAKNTR.NS,0.0,0.0
2022-03-21,2245.800049,2294.300049,2221.000000,2269.800049,NaN,805901.0,DEEPAKNTR.NS,0.0,0.0
...,...,...,...,...,...,...,...,...,...
2022-06-06,1347.099976,1370.000000,1331.000000,1364.099976,NaN,334248.0,GODREJPROP.NS,0.0,0.0
2022-06-07,1342.500000,1355.000000,1318.000000,1325.099976,NaN,454740.0,GODREJPROP.NS,0.0,0.0
2022-06-08,1309.250000,1365.000000,1298.050049,1345.050049,NaN,987804.0,GODREJPROP.NS,0.0,0.0
2022-06-09,1320.099976,1375.900024,1308.650024,1371.599976,NaN,673188.0,GODREJPROP.NS,0.0,0.0
2022-06-10,1360.000000,1362.949951,1310.000000,1313.400024,NaN,710798.0,GODREJPROP.NS,0.0,0.0

In [8]:
reg=CalculateReturnsList(df1['Symbol'].unique())

NameError: name 'CalculateReturnsList' is not defined

In [ ]:
reg.to_excel (r'Reports/Nifty200_regret.xlsx', index = False, header=True)